body{
    margin:0;
    padding: 0;
    background-color:pink;
    background-image: linear-gradient(90deg, white 0%, black 100%);
    color:  #ff6b1c;
}
.registration{
    margin: 0 auto;
    padding: 10px;
    width: 30%;
    position: absolute;
    left: 36%;
    background-color: white;
    text-align: center;
    border-radius:15px;
}

.login {
    margin: 0 auto;
    padding: 10px;
    width: 30%;
    position: absolute;
    left: 36%;
    background-color: white;
    border-radius:15px;
    text-align: center;
    display: none;
}


.profile{
    margin: 0 auto;
    padding: 10px;
    width: 30%;
    position: absolute;
    left: 36%;
    background-color: white;

    border-radius:5px;
    display: none;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input {
    border: none;
    background-color: rgb(255, 246, 246);
    width: 90%;
    height: 40px;
}

.registerbtn {
    height: 50px;
    background-color:hotpink;
    border-radius: 10px;
    border: none;
    width: 30%;
}
.sign{
    height: 50px;
    background-color: hotpink;
    border-radius: 10px;
    border: none;
    width: 30%;

}

.genders {
    width: 90%;
    display: flex;
    flex-direction: column  ;
}

.toggle {
    display: flex;
    justify-content: space-between;
}

.signIn{
    height: 50px;
    background-color: #ff6b1c;
    border-radius: 10px;
    width: 30%;
    border: none;
}

.signOut{
    height: 50px;
    background-color:hotpink;
    border-radius: 10px;
    border: none;
    width: 30%;

}