*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#sidebar{
    position: fixed;
    width: 250px;
    background: #b9b8b5;
    border-radius: 20px;
    left: -250px;;
    top: 10px;
    padding-bottom: 10px;


    -moz-transition: all 600ms;
    -webkit-transition: all 600ms;
    transition: all 600ms;;
}

#sidebar.active {
    left: 0px;
}

#sidebar ul li:first-child {
    text-align: center;
    color: rgb(8, 8, 8);
    font-size: 1.95em;
    list-style: none;
    padding: 25px 10px 10px 10px;
}

#sidebar ul li:not(:first-child){
    width: 90%;
    margin-left: 10%;
    font-size: 1.1em;
    list-style: none;
    padding: 15px 10px;
    color: black;
}

#sidebar ul li a {
    color: #fafafa;
    text-decoration: none;
}

#sidebar ul li a:hover {color: #101111}

#sidebar .toggle-btn {
    position: absolute;
    left: 270px;
    background: #e0e5ea;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}

#sidebar .toggle-btn:hover{background: #f5c358;}\
#sidebar .toggle-btn.toggle-btn:hover span{background: #fafafa;}

#sidebar .toggle-btn span{
    display: block;
    width: 25px;
    height: 4px;
    background-color: rgb(19, 197, 251);
    margin: 4px;
}

