body{
    margin: 0;
    padding: 0;
    background-color: #000;

}

.general{
    float: left;
    display: block;
    width: 400px;
    text-align: center;
}
.first{
    padding:55px;
    color: #fff;
}

.general1{
    margin-top: 30px;
    float: right;
    display: block;
    text-align: end;
}







.second{
    display: inline;
    padding-left: 30px;
    float: left;
    display: block;
}


.general2{
    margin-right: 100px;
    display: inline;

}
.link1:hover{
    color: #0040ff;
}

.back-video{
    width:100%;
    height:100%;
    margin-top: 3vw;
}

.photo{
    margin-left: 400px;
    width: 800px;
    height: 600px;
    border-radius: 5%;
}
.position{
    position: relative;
}
.salem{
    position: absolute;
    top: 100px;
    left: 100px;
}
.dlyaspan{
    position: absolute;
    top: 200px;
    left: 100px;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 22px;
}
.photo_2{
    position: relative;
    bottom: 50px;
    width: 450px;
    height: 550px;
    border-radius: 10%;
    margin-left: 100px;
}
.dlyaspan_2{
    position: absolute;
    left: 600px;
    top: 800px;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 22px;
}
.photo_3{
    position: absolute;
    width: 400px;
    height: 500px;
    left: 600px;
    top: 950px;
    border-radius: 10%;
    margin-left: 150px;
}
.photo_4{
    margin-left:100px;
    border-radius: 10%;
    width: 450px;
    height: 500px;
}
.dlyaspan_3{
    position: absolute;
    left: 550px;
    bottom: 20px;
    font-family: sans-serif;
    font-size: 18px;

}
.ph{
    border-radius: 10%;
    width: 42%;
    padding: 20px;
}
.phdiv{
    text-align: center;
}
.ph_2{
    border-radius: 16%;
    width:260px;
    height: 100x;
    padding: 20px;
}
.phdiv_2{
    text-align: center;
}
.phdiv_3{
    text-align: center;
}
.port{
    margin-right:1300px;
    font-size:18px;
    margin-left: 60px;
}
.behance{
    margin-left: 1100px;
    font-size:20px;
    font-family:sans-serif;
    color:#fff;
}
.bottom-right1{
    margin-left: 1260px;
    display:flex;
}
.cont{
    margin-right:1300px;
    font-size:20px;
    width: 1700px;
    height: 300px;
    background-color: grey;
    margin-top: 120px;
    padding: 120px;


}
.link1{
    color: #e2e2e2;
    font-size: 14px;
    font-family: 'Raleway',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    border-radius: 30px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    margin-left: 1300px;
}
#bizjaily{
    margin-left: 150px;
    margin-top: 200px;
}
.text1{
    margin-left: 1100px;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;

}
footer {
    text-align: center;

    background-color:  #696969;
    color:white;
    text-decoration: none;
    height:290px;
}
.lola{
    display:flex;
}
.activ{
    text-decoration: none;
    color:white;
}
.button {
    border:none;
    background-color: orange;
    color: white ;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:800px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50%;
    height:50px;
    margin-top:110px;

}
.button:hover {background-color: #696969}

.button:active {
    background-color:orange;
    box-shadow: 0 5px #696969 ;
    transform: translateY(4px);
}
input[type=text] {
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid orange;
    border-radius:50%;
    height: 50px;
}
.web{
    display:flex;
    margin-top:130px;
    margin-left:80px;
}
.block {
    display: block;
    width: 100%;
    padding: 15px 100px;
    font-size: 16px;
    cursor: pointer;
    text-align:center;
    border-radius: 100px;
    text-decoration: none;
    background-color: grey;


}

.block3{
    display: block;
    width: 80%;
    background-color:orange;
    padding: 15px 100px;
    font-size: 16px;
    cursor: pointer;
    text-align:center;
    border-radius: 100px;
    text-decoration: none;
    border:1px solid orange;
}





