body{
    margin: 0;
    padding: 0;
    background-color:ghostwhite;
}
body{
    margin: 0 auto;
}
a{
    color:#000000;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0.5px;
    background: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.header_section{
    display: flex;
    align-items: center;
}

.header-atem:hover{
    color: #e203bf;
}
.header_item{
    padding: 0.1vh 4vh;
    font-size: 2.6vh;
}
.header_aline{
    font-size: 3.2vh;
    padding-right: 22vh;
    color: darkblue;
    font-family: Franklin Gothic Medium;
    padding-left: 50px;

}

.header_aline2{
    font-size: 2.6vh;
    padding-left: 22vh;
    color: darkblue;
    font-family: Franklin Gothic Medium;
    font-size: 23px;
}



.video{
    width:100px;
    height:100px;
    margin-top: 3vw;
    display: flex;
}

.second{
    display: inline;
    padding-left: 30px;
    float: left;
    display: block;
}


.general2{
    margin-right: 100px;
    display: inline;

}
.link1:hover{
    color: #0040ff;
}

.photo{
    margin-left: 400px;
    width: 600px;
    height: 800px;
    border-radius: 5%;
    padding-left:200px;
    padding-top: 30px;
}
.position{
    position: relative;
    padding-bottom: 10px;
    margin-top: 30px;
}

.salem{
    position: absolute;
    top: 100px;
    left: 100px;
    padding-bottom: 10px;
}
.dlyaspan{
    position: absolute;
    top: 200px;
    left: 100px;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 22px;
}
.photo_2{
    position: relative;
    bottom: 50px;
    width: 450px;
    height: 550px;
    border-radius: 10%;
    margin-left: 100px;
}
.dlyaspan_2{
    position: absolute;
    left: 600px;
    top: 800px;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 30px;
}
.photo_3{
    position: absolute;
    width: 400px;
    height: 500px;
    left: 600px;
    top: 950px;
    border-radius: 10%;
    margin-left: 150px;
}
.photo_4{
    margin-left:100px;
    border-radius: 10%;
    width: 500px;
    height: 500px;
}
.dlyaspan_3{
    position: absolute;
    left: 550px;
    bottom: 20px;
    font-family: sans-serif;
    font-size: 30px;

}
.ph{
    border-radius: 10%;
    width: 42%;
    padding: 20px;
}
.phdiv{
    text-align: center;
}
.ph_2{
    border-radius: 16%;
    width:250px;
    height: 250px;
    padding: 20px;
}
.phdiv_2{
    text-align: center;

}
.phdiv_3{
    text-align: center;
}
.port{
    margin-right:1300px;
    font-size:18px;
    margin-left: 60px;
}
.behance{
    margin-left: 1100px;
    font-size:20px;
    font-family:sans-serif;
    color:#fff;
}
.bottom-right1{
    margin-left: 1260px;
    display:flex;
}
.cont{
    margin-right:1300px;
    font-size:20px;
    width: 1700px;
    height: 300px;
    background-color: grey;
    margin-top: 120px;
    padding: 120px;


}
.link1{
    color: #e2e2e2;
    font-size: 14px;
    font-family: 'Raleway',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    border-radius: 30px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    margin-left: 1300px;
}
#bizjaily{
    margin-left: 150px;
    margin-top: 200px;
}
.text1{
    margin-left: 1100px;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;

}
footer {
    text-align: center;

    background-color:black;
    color:white;
    text-decoration: none;
    height:290px;
}
.lola{
    display:flex;
}
.activ{
    text-decoration: none;
    color:white;
}
.button {
    border:none;
    background-color: orange;
    color: white ;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:800px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50%;
    height:50px;
    margin-top:110px;

}
.button:hover {background-color: #696969}

.button:active {
    background-color:orange;
    box-shadow: 0 5px #696969 ;
    transform: translateY(4px);
}
input[type=text] {
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid orange;
    border-radius:50%;
    height: 50px;
}
.web{
    display:flex;
    margin-top:130px;
    margin-left:80px;
}
.block {
    display: block;
    width: 100%;
    padding: 15px 100px;
    font-size: 16px;
    cursor: pointer;
    text-align:center;
    border-radius: 100px;
    text-decoration: none;
    background-color: white;


}

.block3{
    display: block;
    width: 80%;
    background-color:orange;
    padding: 15px 100px;
    font-size: 16px;
    cursor: pointer;
    text-align:center;
    border-radius: 100px;
    text-decoration: none;
    border:1px solid orange;
}
.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.products .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.1);
    position: relative;
}

.products .box-container .box .discount{
    position: absolute;
    top:1rem; left:1rem;
    padding:.7rem 1rem;
    font-size: 2rem;
    color:pink;
    background:rgba(255, 51, 153,.05);
    z-index: 1;
    border-radius: .5rem;
}

.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow:hidden;
}

.products .box-container .box .image img{
    height:25rem;
}

.products .box-container .box:hover .image img{
    transform: scale(1.1);
}

.products .box-container .box .image .icons{
    position: absolute;
    bottom:-7rem; left:0; right:0;
    display: flex;
}

.products .box-container .box:hover .image .icons{
    bottom:0;
}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width:50%;
    background:pink;
    color:#fff;
}

.products .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff;
    border-right: .1rem solid #fff;
    width:100%;
}

.products .box-container .box .image .icons a:hover{
    background:#333;
}

.products .box-container .box .content{
    padding:2rem;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 2.5rem;
    color:#333;
}

.products .box-container .box .content .price{
    font-size: 2.5rem;
    color: hotpink;
    font-weight: bolder;
    padding-top: 1rem;
}

.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
}
section{
    padding:2rem 9%;
}
@media only screen(max-width:528px){

}
