body{
    margin: 0;
    padding: 0;
    background-color: #000;

}

.general{
    float: left;
    display: block;
    width: 400px;
    text-align: center;
}
.first{
    padding:55px;
    color: #fff;
}

.general1{
    margin-top: 30px;
    float: right;
    display: block;
    text-align: end;
}







.second{
    display: inline;
    padding-left: 30px;
    float: left;
    display: block;
}


.general2{
    margin-right: 100px;
    display: inline;

}
.link1:hover{
    color: red;
}






