body{
    margin: 0;
    padding: 0;
    background-color: #000;

}

.general{
    float: left;
    display: block;
    width: 400px;
    text-align: center;
}
.first{
    padding:55px;
    color: #fff;
}

.general1{
    margin-top: 30px;
    float: right;
    display: block;
    text-align: end;
}







.second{
    display: inline;
    padding-left: 30px;
    float: left;
    display: block;
}


.general2{
    margin-right: 100px;
    display: inline;

}
.link1:hover{
    color: #0040ff;
}

.back-video{
    width:100%;
    height:100%;
    margin-top: 3vw;
}

.photo{
    margin-left: 400px;
    width: 800px;
    height: 600px;
    border-radius: 5%;
}
.position{
    position: relative;
}
.salem{
    position: absolute;
    top: 100px;
    left: 100px;
}
.dlyaspan{
    position: absolute;
    top: 200px;
    left: 100px;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 22px;
}
.photo_2{
    position: relative;
    bottom: 50px;
    width: 450px;
    height: 550px;
    border-radius: 10%;
    margin-left: 100px;
}
.dlyaspan_2{
    position: absolute;
    left: 600px;
    top: 800px;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 22px;
}
.photo_3{
    position: absolute;
    width: 400px;
    height: 500px;
    left: 600px;
    top: 950px;
    border-radius: 10%;
    margin-left: 150px;
}
.photo_4{
    margin-left:100px;
    border-radius: 10%;
    width: 450px;
    height: 500px;
}
.dlyaspan_3{
    position: absolute;
    left: 550px;
    bottom: 20px;
    font-family: sans-serif;
    font-size: 18px;

}






